<div>
  <section class="menu-info">
    <div class="infos">
      <h2>Moedas atual</h2>
      <div class="area-img">
        <img src="coin.png" alt="" />
        <p>{{ moedasAtual }}</p>
      </div>
    </div>
    <div class="infos">
      <h2>Moedas por segundo</h2>
      <div class="area-img">
        <img src="coin.png" alt="" />
        <p>{{ moedasPorSegundo }}</p>
      </div>
    </div>
    <div class="infos">
      <h2>Total de cliques</h2>
      <p>{{ totalCliques }}</p>
    </div>
    <div class="infos">
      <h2>Moedas por cliques</h2>
      <p>{{ moedasPorClique }}</p>
    </div>
  </section>

  <section class="parte-jogo">
    <div>
      <button class="botao-click" (click)="clicouBtn()"><img src="coin.png" alt="" /></button>
    </div>

    <section class="upgrades">
      <div class="upgrade-click">
        <h2>Coin por click</h2>
        <div>
          <h3>Primeiro upgrade</h3>
          <p>+1</p>
          <button (click)="primeiroUpgrade()">Comprar</button>
        </div>
        <div>
          <h3>Segundo upgrade</h3>
          <p>+2</p>
          <button (click)="segundoUpgrade()">Comprar</button>
        </div>

        <div>
          <h3>Menor aprendiz</h3>
          <p>+0,5</p>
          <button (click)="menorAprendiz()">Comprar</button>
        </div>
        <div>
          <h3>Menor aprendiz</h3>
          <p>+0,5</p>
          <button (click)="menorAprendiz()">Comprar</button>
        </div>
        <div>
          <h3>Menor aprendiz</h3>
          <p>+0,5</p>
          <button (click)="menorAprendiz()">Comprar</button>
        </div>
        <div>
          <h3>Menor aprendiz</h3>
          <p>+0,5</p>
          <button (click)="menorAprendiz()">Comprar</button>
        </div>
      </div>
      <div class="upgrade-click">
        <h2>Coin por segundo</h2>
        
        <div>
          <h3>Menor aprendiz</h3>
          <p>+0,5</p>
          <button (click)="menorAprendiz()">Comprar</button>
        </div>

        <div>
          <h3>Estagiário</h3>
          <p>+1</p>
          <button (click)="primeiroUpgrade()">Comprar</button>
        </div>

        <div>
          <h3>Auxiliar</h3>
          <p>+2</p>
          <button (click)="segundoUpgrade()">Comprar</button>
        </div>

        <div>
          <h3>Técnico</h3>
          <p>+2</p>
          <button (click)="segundoUpgrade()">Comprar</button>
        </div>
        <div>
          <h3>Analista</h3>
          <p>+2</p>
          <button (click)="segundoUpgrade()">Comprar</button>
        </div>
        <div>
          <h3>Gerente</h3>
          <p>+2</p>
          <button (click)="segundoUpgrade()">Comprar</button>
        </div>
        <div>
          <h3>Diretor</h3>
          <p>+2</p>
          <button (click)="segundoUpgrade()">Comprar</button>
        </div>
        <div>
          <h3>CEO</h3>
          <p>+2</p>
          <button (click)="segundoUpgrade()">Comprar</button>
        </div>

        
      </div>
    </section>
  </section>
</div>
