<div>
  <section class="menu-info">
    <div class="infos">
      <h2>Moedas atual</h2>
      <div class="area-img">
        <img src="coin.png" alt="" />
        <p>{{ moedasAtual }}</p>
      </div>
    </div>
    <div class="infos">
      <h2>Moedas por segundo</h2>
      <div class="area-img">
        <img src="coin.png" alt="" />
        <p>{{ moedasPorSegundo }}</p>
      </div>
    </div>
    <div class="infos">
      <h2>Total de cliques</h2>
      <p>{{ totalCliques }}</p>
    </div>
    <div class="infos">
      <h2>Moedas por cliques</h2>
      <div class="area-img">
        <img src="coin.png" alt="" />
        <p>{{ moedasPorClique }}</p>
      </div>
    </div>
  </section>

  <section class="parte-jogo">
    <div>
      <button class="coin-button" (click)="clicouBtn()"></button>
    </div>

    <section class="upgrades">
      <div class="upgrade-click">
        <h2>Coin por click</h2>
      </div>
      <div class="upgrade-click">
        <h2>Coin por segundo</h2>

        <div *ngFor="let item of coinPorSegundo.upgrades | keyvalue : noSort">
          <h3>{{ item.value.nome }}</h3>
          <p>Preço: {{ item.value.custo }} coins</p>
          <div class="btn-comprar">
            <p>+ {{ item.value.ganho }}coin/seg</p>
            <button (click)="ativouMoedasPorSegundo(true);coinPsegundo(item.key)" [disabled]="moedasAtual < item.value.custo">
              Comprar
            </button>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
